@{
    ViewData["Title"] = "User Dashboard";
}

<h2>@ViewBag.Username's Dashboard</h2>

<ul>
    <li><a asp-controller="Recipes" asp-action="Index">View All Recipes</a></li> <!-- Link to View all Recipes -->
    <li><a asp-controller="Recipes" asp-action="Create">Submit a New Recipe</a></li> <!-- Link to Submit a new Recipe -->
    <li><a asp-controller="Recipes" asp-action="UserRecipes">My Recipes</a></li> <!-- Link to view User's recipes that were submitted -->
    <li><a asp-controller="Account" asp-action="Profile">My Profile</a></li> <!-- Link to view User's Profile -->
</ul>
