
@{
    ViewData["Title"] = "Details";
}

@model RecipeRating.Models.RecipeModel

<h2>@Model.RecipeName</h2>

<p><strong>Ingredients:</strong> @Model.Ingredients</p>
<p><strong>Method:</strong> @Model.Method</p>
